@import "../App.scss";

.question {
  background: color(red);
  color: white;
  height: 100vh;
  //max-height: 100vh;
  display: flex;
  flex-direction: column;
 
}

.scale-container {
  width: 60em;
  display: flex;
  flex-direction: column;
}

.description {
  font-size: 0.6em;
  margin-top: 5em;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  word-wrap: unset;
  @include breakpoint(sm) {
    font-size: 0.5em;
  }
}

.numbers {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  //grid-template-areas: "number number number number number"
  justify-content: center;
  align-items: center;
  width: 100%;
  //height: 30vh;
  font-weight: 900;

  span {
    font-size: 1.5em;
    position: relative;
    .unselected {
      opacity: 0.4;
    }

    .selected {
      padding: 0.5em 0.85em;
      border: 0.15em solid white;
      border-radius: 100%;
      height: 16vw;
      align-self: center;
    }

    @include breakpoint(md) {
      font-size: 1.75em;
      width: 100%;
    }
  }
}

.question-graphic {
  height: 30vh;
  width: 100vw;

  object-fit: cover;
  @include breakpoint(sm) {
    height: 80vh;
    width: 25vw;
    padding: 1em;
  }
}

.main-section {
  display: flex;
  flex-direction: column;


  display: grid;
  //grid-template-rows: 40% 60%;
  max-width: 100vw;

  @include breakpoint(sm) {
      display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.question-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  
  padding: 1em;
  font-size: 0.8em;
  justify-content: space-around;
  position: relative;
  .text-area {
    text-align: left;
    font-size: 1.4em;
    padding: 1em;
    h1 {
      font-size: 2em;
      margin: 0;
    }

    p  {
      opacity: 0.4;
    }
  }
  @include breakpoint(sm) {
    height: 50vh;
    width: 60vw;
  }
}

.outline {
  color: transparent !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.category {
  position: absolute;
  bottom: 40%;
  right: 0;
  font-size: 10em;
  opacity: 0.1;
  font-weight: 900;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;

  > * {
    margin: -1em 0;
  }
  @include breakpoint(sm) {
    bottom: 30%;
    font-size: 12em;
    opacity: 0.2;
  }
}

.next {
  background-color: transparent;
  border: none;

  font-size: 4em;
}

.back {
  background-color: transparent;
  border: none;
  font-size: 4em;
  opacity: 0.5;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  right: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;

  @include breakpoint(sm) {
    width: 65vw;
    padding: 2em;
    right: 0;
  }
}

.play-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 25em;
  height: 25em;
  padding: 2em 0;
  border-radius: 10px;

  #one {
    background-color: color(pink);
    //background-color: white;
  }

  #two {
    // grid-area: "blue";
    background-color: color(dark-blue);
  }
  #three {
    //grid-area: "lightblue";
    background-color: color(light-blue);
  }
  #four {
    // grid-area: "red";
    background-color: color(red);
  }
}

.name-playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: color(blue);
  height: 100vh;
  //padding: 0 3em;

  color: color(pink);
  h1 {
    font-size: 1.75em;
    text-align: left;
    padding: 0 1em;
  }
  input {
    margin: 2em 0 ;
    border: none;
    background: transparent;
    border-bottom: 1px solid color(pink);
    transition: border-width 0.1s ease-in;
    width: 15em;
    text-align: center;
    padding: 0.5em;
    font-size: 1.25em;
    color: color(pink);
    font-weight: 600;

    //border-color: color(dark-blue);
  }

  input:focus {
    border-width: 3px;
    outline: none;
  }

  input:focus::placeholder {
    opacity: 0.2;
  }
}

::placeholder {
  color: color(pink);
  opacity: 0.4;
}


.final-section {
    display: flex;
    flex-direction: column;

    @include breakpoint(sm) {
        flex-direction: row;
    }

    .input-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5em;
    }

    .main-bt {
        color: color(blue);
        background-color: color(pink);
    }
}