@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,700&display=swap");

$colors: (
  blue: #1252c9,
  pink: #ffabca,
  red: #e33065,
  dark-blue: #122a4d,
  light-blue: #30c8f2
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

.App {
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 12px;
  @include breakpoint(sm) {
    font-size: 13px;
  }
  @include breakpoint(md) {
    font-size: 13.5px;
  }
 // font-size: calc(10px + 2vmin);
}

.mendo-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 40vmin;
  padding: 1em;
}